<article class="page-container" style="padding-top: 0;">
    <form action="{{:url('admin/AuthGroup/update',['id'=>$row.id])}}" method="post" class="form form-horizontal" id="formMemberCreate">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="角色名称"  name="group_name" value="{{$row.group_name}}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="角色简介"  name="desc" value="{{$row.desc}}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>超级管理：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="is_super" type="radio" id="is_super-1" checked value="0">
                    <label for="is_super-1">否</label>
                </div>
                <div class="radio-box">
                    <input name="is_super" type="radio" id="is_super-2" value="1">
                    <label for="is_super-2">是</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>


{{block name="appendJs"}}
    {{include file="common/validate" /}}
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#formMemberCreate").validate({
            rules:{
                group_name:{required:true,maxlength:30},
                desc:{required:true,maxlength:200},
                is_super:{required:true,}
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $("input[type='submit']").attr('disabled',true);
                $(form).ajaxSubmit({
                    beforeSend:function () {
                        layer.load(2,{shade:[0.2, '#FFFFFF']});
                    },
                    success:function (res) {
                        layer.closeAll('loading');

                        if(res.status == 1){
                            layer.msg(
                                res.msg, {
                                    icon:1,
                                    shade:0.1,
                                    closeBtn:2,
                                    end:function () {
                                        window.location.reload();
                                    }
                                });
                        }else{
                            layer.msg(res.msg,{icon:2,shade:0.2,closeBtn:2});
                        }
                    },
                    complete: function () {
                        $("input[type='submit']").attr('disabled',false);
                        layer.closeAll('loading');
                    }
                });
            }
        });
    });
</script>
{{/block}}
